@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

.dark {
  /*  */
}

.light {
  --background: #ffffff;
  --primary: #4f46e5;
  --gray: #f43f5e;
  --gray: #cbd5e1;

  --border-divider: #e2e8f0;

  --box-primary: #f8fafc;
  --box-secondary: #f1f5f9;
  --box-tertiary: #e2e8f0;

  --text-strong: #1e293b;
  --text-normal: #475569;
  --text-muted: #94a3b8;
}

@theme inline {
  --color-background: var(--background);
  --color-primary: var(--primary);
  --color-danger: var(--danger);
  --color-gray: var(--gray);

  --color-divider: var(--border-divider);

  --color-box-primary: var(--box-primary);
  --color-box-secondary: var(--box-secondary);
  --color-box-tertiary: var(--box-tertiary);

  --color-t-strong: var(--text-strong);
  --color-t-normal: var(--text-normal);
  --color-t-muted: var(--text-muted);

  --font-sans: var(--font-plus-jakarta-sans);
}

html {
  font-family: var(--font-sans);
  color: var(--color-t-normal);
}
